.claim-status-page {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 50px 50px;
    background-color: rgba(0, 23, 42, 0.7);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: large;
  }
  
  .claim-status-page h2 {
      margin-bottom: 30px;
      color: #ffff;
  }
  
  .claim-details {
      text-align: left;
      margin-bottom: 25px;
  }
  
  .claim-details div {
      margin-bottom: 5px;
  }
  
  .claim_status {
      color: #cccc;
      font-weight: bold;
  }