.cont {
    max-width: 720px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 10px 20px;
    background-color: rgba(0, 23, 42, 0.7);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
}

.image-container {
    flex: 1;
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.signup-image {
    max-width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-radius: 10px;
}

.form-container {
    flex: 1;
}

.signup-form {
    text-align: center;
}
  
.signup-form h2 {
    margin-top: 10px;
    margin-bottom: 20px;
    color: #ffff;
}

.signup-form input {
    width: 100%;
    padding: 10px;
    background: #EBECFE;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.error-message {
    color: #ff3333;
    margin-bottom: 10px;
}

.tandc input[type="checkbox"] {
    display: inline;
    width: 30px;
    margin-bottom: 5px;
}

.signin-link {
    margin-top: 20px;
    font-size: 14px;
    color: #ffff;
}
  
.signin-link a {
    color: #cccc;
    text-decoration: none;
}
  
.signin-link a:hover {
    text-decoration: underline;
}

.tandc-container {
    margin-bottom: 25px;
}


@media (max-width: 700px) {
    .image-container {
        display: none;
    }
    .cont {
        max-width: 360px;
    }
}
